node_modules
package-lock.json
yarn.lock

.DS_Store
.cache
.env
.vercel
.output
.vinxi

/logs/
/dist/
/build/
/api/
/server/build
/public/build
.vinxi
# Sentry Config File
.env.sentry-build-plugin
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/src/generated/prisma
/src/routeTree.gen.ts
/db/*.db
/db/*.db-*
/db/prisma/schema.prisma

# 生成的 CSS 文件
/src/styles/index.legacy.css

# PM2
.pm2
*.pid

# 应用日志
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*